

<h2>Population Total: <%= @search.count %></h2>


<% @population.each do |character| %>
  <ul class="character">
    <p>Name: <%= character.name %></p>
    <%= image_tag character.photo_url %>
    <% character.allies.each do |ally| %>
    <p>Allies: </p>
      <li><%= ally %></li>
    <% end %>
    <% character.enemies.each do |enemy| %>
      <p>Enemies:</p> 
        <li><%= enemy %></li>
      <% end %>
    <p>Affiliations: <%= character.affiliation %></p><br>

    <% end %>
  </ul>