

<h2>Population Total: <%= @search.count %></h2>


<% @population.each do |character| %>
  <ul class="character">
    <p>Name: <%= character.name %></p>
    <img src="<%= character.photo_url %>" alt="nil">

    <p>Allies: </p>
      <% character.allies.each do |ally| %>
        <li><%= ally %></li>
      <% end %>
    <p>Enemies:</p> 
      <% character.enemies.each do |enemy| %>
          <li><%= enemy %></li>
      <% end %>
    <p>Affiliations: <%= character.affiliation %></p><br>
    <% end %>
  </ul>